@import "journal.css";
@import "entries.css";

* {
    font-family: 'Baloo Da 2', cursive;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#fafafa, #ffffff)
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url("./images/Daily Journal Background.png");
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.navigation {
    align-self: flex-start;
}

.nav__link {
    border: 2px solid #2962ff;
    border-radius: 3px;
    text-decoration: none;
    color: #2962ff;
    padding: 5px;
    box-shadow: 2px 1px;
}

.nav__link:hover {
    border: 2px solid #ffea00;
    background-image: linear-gradient(#2962ff, #2979ff);
    color: #ffea00;
}