@import "journal.css";
@import "entries.css";

* {
    font-family: "Courier New", Courier, monospace;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#FEFAE0, white);
    height: 100vh;
}

.container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navigation {
    width: 100%;
    align-self: flex-start;
}

.nav__link {
    border: 2px solid black;
    text-decoration: none;
    color: black;
    padding: 5px;
}