@import "journal.css";
@import "entries.css";

* {
    font-family: "Courier New", Courier, monospace;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#FEFAE0, white);
}

.navigation {
    align-self: flex-start;
}

.nav__link {
    border: 2px solid black;
    text-decoration: none;
    color: black;
    padding: 5px;
}

.title {

}